# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment variables
.env

# Optional Electron
dist-electron/

# Miscellaneous
.DS_Store

ADMIN_EMPLOYEE_MANAGEMENT.md
ARCHIVE_API_QUICK_REFERENCE.md
ARCHIVE_IMPLEMENTATION_SUMMARY.md
CLIENT_API_DOCUMENTATION.md
CUSTOM_ID_IMPLEMENTATION.md
DYNAMIC_MODULES_GUIDE.md
EMPLOYEE_ACCESS_SUMMARY.md
EMPLOYEE_ARCHIVE_API.md
EMPLOYEE_LOGIN_GUIDE.md
EMPLOYEE_SELF_ACCESS.md
EMPLOYEE_STATUS_UPDATE.md
FRONTEND_INTEGRATION_GUIDE.md
INVITATION_API_UPDATED.md
INVITE_ENDPOINT_FIX.md
INVITE_LINK_FIX_GUIDE.md
PAGINATED_EMPLOYEE_LISTING.md
RBAC_IMPLEMENTATION_GUIDE.md
ROLE_API_DOCUMENTATION.md
ROLE_EXPLANATION.md
ROLE_MIGRATION_GUIDE.md
SETUP_PAYLOAD_EXAMPLE.md
SIMPLIFIED_INVITATION_UPDATE.md
UPLOAD_FRONTEND_INTEGRATION.md
USER_CRUD_API_DOCUMENTATION.md
USER_INVITE_API_DOCUMENTATION.md